<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOUR APP</title>
    <link rel="stylesheet" href="../wwwroot/css/style.css">
</head>
<body style="background-color: #9ACEDF;">
    <header>
        <div class="textos">
            <h1 class="titulo">Realidad del Ex Penal</h1>
            <a href="#" class="boton"> Resumen de Proyecto </a>
        </div>
        <div class="sesgoabajo"></div>
    </header>
    <div class="contenedor">
        <h2 class="sobre-nosotros">¿Ex penal Garcio Moreno?</h2>
        <p class="parrafo">
            El expenal «García Moreno», una de las cárceles más tétricas del país convertida ahora en un excéntrico
            centro de memoria histórica, busca recrear a turistas valientes la escalofriante vida que padecieron en ese lugar
            los más célebres asesinos, narcos, políticos corruptos e, incluso, muchos inocentes.
            El recorrido por el lugar resulta de igual manera escalofriante para quienes se animan a hacerlo.
            Quienes se atrevan a encerrarse en esas mismas rejas y paredes son ahora los verdaderos protagonistas de una historia
            que intenta concienciar sobre la época más oscura del penal, en su tiempo manejado bajo una férrea disciplina y tratos cruel según historiadores.
            <br />
            <center><img src="https://ww2.elmercurio.com.ec/wp-content/uploads/2019/07/expenal-tres-696x392.jpg" width="300" height="300" /></center>

        <p class="parrafo">

            Pabellones llenos de rejas, calabozos abandonados, guías penitenciarios, esposas que ataban sus manos y fuertes gritos
            fueron la opción elegida por cerca de 52 personas que la noche del pasado sábado 13 de julio del 2019 practicaron un turismo
            diferente. Lo hicieron alumbrados por la luna llena y acompañados por el frío y una leve lluvia en las instalaciones del expenal García Moreno,
            ubicado en San Roque, centro de Quito.
        </p>
        <p class="parrafo">
            También se recrean personajes como «El polilla», un tipo de reo que «se encargaba de hacer cualquier cosa»
            con el fin de obtener algo de dinero para drogas, comentó Jerson, el joven actor que interpretaba a esa figura,
            al que también le decían «el come muertos» porque era capaz de culparse a sí mismo por la muerte de otro con el fin
            de conseguir unas monedas.
        </p>
    </div>
    <center><img src="https://www.elcomercio.com/files/content_thumbnail/uploads/2019/07/04/5d1e72e0c4c83.jpeg" width="450" height="450"/></center>

    <h2 class="sobre-nosotros">Funcionamiento del Programa</h2>
    <p class="parrafo">
        Nuestro proyecto coinciste en cada imagen sea tridimencional o tambien como en 3D
        se vera cada lugar de la ex penal garcia moreno como si lo tuvieras presente.
        <br />
        <center><img src="https://i.ytimg.com/vi/MerB6rp1NFk/maxresdefault.jpg" width="500" height="500"/></center>

<p class="parrafo">
        hemos adquirido informacion detallada acerca de cada pabellon o celda por ex personas
        privadas de la libertad.
</body>
</html>     